@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: linear-gradient(to right, #1f1245, #150c2e, #0a0617);
  
  color: white;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
/* From Uiverse.io by codebykay101 */ 

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.loader {
  position: relative;
  width: 150px;
  height: 150px;
  background: rgba(45, 45, 45, 1);
  overflow: hidden;
  transform: rotate(calc(90deg * var(--i)));
}

.loader::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  background: radial-gradient(var(--clr), transparent);
  animation: animate 1.5s linear infinite;
}

.loader::after {
  content: "";
  position: absolute;
  inset: 2px;
  background: rgba(45, 45, 45, 0.9);
}

@keyframes animate {
  0% {
    transform: translate(-150px, -150px);
  }
  25% {
    transform: translate(0px, -150px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(-150px, 0px);
  }
  100% {
    transform: translate(-150px, -150px);
  }
}


